<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-image:
                linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(4, 9, 30, 0.7)),
                url('static/images/employee.jpg');
            background-size: cover;
        }
    </style>
    <title>Add Employee Information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}" >
</head>

<body>
    <section class="header">
        <nav>
            <a href="home.html"></a>
            <h1 class="logo">CC Employee Management</h1>
            <div class="nav-links">
                <ul>
                    <li><a href="home.html">HOME</a></li>
                    <li><a href="addEmp.html">Add Employees</a></li>
                    <li><a href="getEmp.html">Get Employees</a></li>
                    <li><a href="">Attendance</a></li>
                </ul>
            </div>
        </nav>
        <div class="btn-all">
            <a href="addEmp.html" class="btn">Add Employees</a>
            <a href="getEmp.html" class="btn">Get Employees</a>
        </div>
        <div class="btn-all">
            <a href="" class="btn">Get Attendance</a>
            <a href="" class="btn">Get Employees</a>
        </div>
    </section>
</body>
